<div class="image-fondo cabecera">
    <h1 class="nombre">Atlixco</h1>
    <h3 class="subtitle">Ciudad de las flores</h3>
</div>
<div class="container-fluid px-4 py-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 ">
      <div class="col d-flex align-items-start">
        <i class="fa fa-map-pin fa-2x" aria-hidden="true"></i>
        <div>
          <h4 class="fw-bold mb-0">Ubicación</h4>
          <p>A 40 min de Puebla; 1 h de Tlaxcala; 1:15 h de Cuautla, 2 h de Cuernavaca.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa fa-sign-language fa-2x" aria-hidden="true"></i>
        <div>
          <h4 class="fw-bold mb-0">Artesanías</h4>
          <p>Barro natural y policromado, así como talavera, camisas bordadas y velas.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
        <div>
          <h4 class="fw-bold mb-0">Flora</h4>
          <p>Cedros, pino, pastizales, ahuehuetes, palmas y magueyes o cucharillas.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="fa fa-thermometer-full fa-2x"  aria-hidden="true"></i>
        <div>
          <h4 class="fw-bold mb-0">Clima</h4>
          <p>Templado subhúmedo a cálido subhúmedo con lluvias en verano</p>
        </div>
      </div>
      </div>
      </div>
      <div class="b-example-divider"></div>
    <div class="container-fluid donde-ir">
        <h2 class="subtitulo">Conoce más</h2>
        <div class="line-mf"></div>
        <div class="container-fluid mt-5 pb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <p class="lead">Atlixco es una ciudad central de México ubicada a los pies del volcán Popocatépetl. Es conocida por el cultivo de flores. En la plaza El Zócalo, el Palacio Municipal tiene murales coloridos que ilustran la historia local. Los edificios coloniales incluyen el Ex-Convento del Carmen, que actualmente alberga un centro cultural y un pequeño museo de arqueología, y la iglesia La Merced, con una fachada barroca ornamentada. El cerro San Miguel tiene vistas panorámicas de la ciudad.</p>
                </div>
                <div class="col-5">
                  <img src="../../assets/img/Atlixco/fes1.jpg" alt="" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="container-fluid donde-ir">
    <h2 class="subtitulo">Gastronomia</h2>
    <div class="line-mf"></div>
    <div class="container-fluid mt-5 pb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <p class="lead">Barbacoa de hoyo, mole poblano, chicharrón prensado, pollo en hongo, escamoles, tlacoyos, carnitas estilo Chignahuapan y pan relleno de queso son sólo algunas de las exquisiteces que podrás disfrutar en este Pueblo Mágico del que seguro te llevarás un excelente sabor de boca.</p>
            </div>
            <div class="col-5">
              <img src="../../assets/img/Atlixco/portada.jpg" alt="" width="100%" height="100%">            </div>
        </div>
    </div>
</div>
</div>
<div class="b-example-divider"></div>

<div class="container-fluid donde-ir">
    <h2 class="subtitulo">Lugares turisticos</h2>
    <div class="line-mf"></div>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-3 align-items-center rounded-3 border shadow-lg"  >
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-6 fw-bold lh-1 title-fest">Basílica de la Inmaculada Concepción</h1>
              <p class="texto lead">Asómbrate con la impresionante imagen de la Inmaculada Concepción, tallada en cedro, que con sus 14 metros de altura es considerada la imagen religiosa bajo techo más grande de Latinoamérica.</p>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="../../assets/img/Atlixco/fes2.jpg" alt="" width="600">
          </div>
        </div>
      </div>
</div>